.container{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E0052;
}

@media (max-width:768px){
    .container{
        display: none;
    }
}